<div id="head-nav" class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <app-head-navbar-main-menu></app-head-navbar-main-menu>
  </div>
</div>

<div id="cl-wrapper" class="fixed-menu">
  <div class="cl-sidebar" data-position="right" data-step="1" data-intro="<strong>Fixed Sidebar</strong> <br/> It adjust to your needs.">
    <div class="cl-toggle"><i class="fa fa-bars"></i></div>
    <div class="cl-navblock">
      <div class="menu-space nano nscroller has-scrollbar" style="height: 710px;">
        <div class="content" tabindex="0" style="right: -17px;">
          <app-left-sidebar></app-left-sidebar>
        </div>
      </div>
    </div>
  </div>
  <div class="container-fluid" id="pcont">
    <div class="page-head">
      <h2>Projects</h2>
      <ol class="breadcrumb">
        <li><a href="/">Home</a></li>
        <li><a href="projects">Projects</a></li>
      </ol>
    </div>
    <div class="cl-mcont">
      <div class="row">
        <div class="col-md-12">
          <div class="block-flat">
            <div class="header">
              <h3>Projects DataTable</h3>
            </div>
            <div class="content">
              <div class="table-responsive">
                <div id="datatable_wrapper" class="dataTables_wrapper form-inline" role="grid"><div class="row"></div><table class="table table-bordered dataTable" id="datatable" aria-describedby="datatable_info">
                  <thead>
                  <tr role="row"><th class="sorting_asc" role="columnheader" tabindex="0" aria-controls="datatable" rowspan="1" colspan="1" aria-sort="ascending" style="width: 275px;">ID</th><th class="sorting" role="columnheader" tabindex="0" aria-controls="datatable" rowspan="1" colspan="1" style="width: 388px;">AuthorID</th><th class="sorting" role="columnheader" tabindex="0" aria-controls="datatable" rowspan="1" colspan="1" style="width: 357px;">Status</th><th class="sorting" role="columnheader" tabindex="0" aria-controls="datatable" rowspan="1" colspan="1" style="width: 235px;">Type</th></tr>
                  </thead>

                  <tbody role="alert" aria-live="polite" aria-relevant="all"><tr class="gradeA odd">
                    <td class="  sorting_1"></td>
                    <td class="  sorting_1"></td>
                    <td class="  sorting_1"></td>
                    <td class="  sorting_1"></td>
                  </tr></tbody></table>
                </div>
                <div style="text-align: right;"><button type="button" class="btn btn-primary">+ Add Project</button></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
