<div class="page-head">
  <h2>Accueil</h2>
  <ol class="breadcrumb">
    <li><a href="/">Home</a></li>
  </ol>
</div>
<div class="cl-mcont">

  <div class="row">
    <div class="col-md-6">
      <div class="block-flat">
        <div class="header">
          <h3><a href="/projects">Projects</a></h3>
        </div>
        <div class="content">
          <p>Vous trouverez ici tout ce qui concerne les projets (Album, Pistes ...)</p>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="block-flat">
        <div class="header">
          <h3><a href="/instruments">Instruments</a></h3>
        </div>
        <div class="content">
          <p>Vous trouverez ici tout ce qui concerne les instruments</p>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6">
      <div class="block-flat">
        <div class="header">
          <h3><a href="users">Users</a></h3>
        </div>
        <div class="content">
          <p>Vous trouverez ici tout ce qui concerne les utilisateurs</p>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="block-flat">
        <div class="header">
          <h3><a href="http://1270.0.1:8080/swagger-ui.html">Swagger</a></h3>
        </div>
        <div class="content">
          <p>Vous trouverez ici l'API Swagger que nous avons intégré</p>
        </div>
      </div>
    </div>
  </div>
</div>
